.first-page{
    color: #fff;
    height: 90vh;
}
.contact-btn{
    height: 3.4em;
    width: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    color: #000;

}
.first-page video{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1000;
    opacity: 0.9;
}